# Prettyfi 
set colored-stats On
set colored-completion-prefix On

# Completion settings
set bell-style none                 # disable annoying bell sound
set show-all-if-ambiguous on        # press tab 1 time
set completion-ignore-case on	    # case sensivity on searching
set completion-display-width 0      
set completion-query-items 1000

# ^C no longer shows on C-c keypress
set echo-control-characters off

# Command history search
"\e[A": history-search-backward     # smart search to previous commands
"\e[B": history-search-forward

# Move foreward/backward by word (If you are Ubuntu user, disable it)
"\e[1;5D": backward-word           
"\e[1;5C": forward-word

# Bash Keybindings
#"\C-f":"cd ~/.config/"            # change directory to config folder
#"\C-w":"webserver\n"              # some custom scripts
"\C-b":"cd ..\n"                   # navigate to top folder
"\C-h":"cd\n"                      # go to home directory
"\es": "\C-asudo \C-e"             # add sudo command while you already wrote whole command
